.about-container {
    width: 96vw;
    height: 80vh;
    margin: 5vh auto;
    /* border: 1px solid green; */
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-left-container {
    width: 58vw;
    height: 80vh;
    /* border: 1px solid red; */
    background-image: url('../../../public/static-images/about-image.webp');

    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.about-left-container  > p {
    font-size: 160px;
    font-weight: 900;
    color: white;
    /* border: 1px solid yellow; */
    margin-right: 5vw;
}

.about-right-container {
    width: 38vw;
    height: 80vh;
    /* border: 1px solid red; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.about-right-container  > p {
    font-size: 25px;
    font-weight: 600;
    /* border: 1px solid yellow; */
    /* margin-right: 5vw; */
}